.sticky-top .dropdown-menu.echo-menu-shortcode {
	top: 60px;
}

.dropdown-menu.echo-menu-shortcode {
	border: 0;
	padding: 0;
	border-radius: 0;
	top: 82px;
	left: 0;
	right: 0;
	box-shadow: 0 999px 0 999px rgba(0, 0, 0, 0.5);
	border-top: 1px solid var(--grey);

	.mega-menu-image {
		width: 100%;
		object-fit: contain;
	}

	.menu-content {
		@include media-breakpoint-up(xl) {
			padding-left: 6.125rem;
		}

		.mega-menu-logo {
			height: 220px;
			object-fit: contain;
		}

		@include media-breakpoint-down(xxxl) {
			.mega-menu-logo {
				height: 180px;
			}
		}
	}

	.header-menu {
		p {
			font-size: 2rem;
			font-weight: $font-weight-bold;
			margin-bottom: 1.5rem;
		}

		ul.acf-menu {
			padding-left: 0;
			columns: 2;

			li {
				padding-left: 0;
				margin-bottom: 1rem;

				&::marker {
					content: none;
				}

				a {
					font-size: 1.125rem;
					font-weight: $font-weight-bold;
					color: var(--tertiary);

					&:hover,
					&:focus {
						text-decoration: underline;
						text-decoration-color: var(--primary);
						text-underline-offset: 5px;
					}
				}

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		@include media-breakpoint-up(xl) {
			padding-left: 6.125rem;
		}
	}
}

.dropdown-menu.echo-menu-shortcode.show {
	@media (min-width: 1700px) {
		height: 350px;
		overflow: hidden;
		display: flex;
		align-items: center;
	}
}

@include media-breakpoint-down(xl) {
	.dropdown-menu.echo-menu-shortcode {
		box-shadow: none;
		border: none !important;
		overflow-y: scroll;
		overflow-x: hidden;
		position: absolute;
		top: 0;
		opacity: 1;
		padding: 1.5rem;

		&::before {
			content: none;
		}
	}
}

.navbar-toggler {
	color: var(--primary) !important;
}

.navbar-toggler:hover {
	color: var(--secondary) !important;
}

.navbar-toggler:focus {
	outline: none !important;
	box-shadow: none !important;
}

.navbar .offcanvas {
	width: 75%;
	max-width: none;
	top: 0;
	bottom: 0;
	border: none;

	background: url(../images/background-illustration.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 200%;
	background-color: var(--white);

	.offcanvas-body {
		padding: 0;
	}

	.offcanvas-body li.menu-item {
		padding: 0;
	}

	.offcanvas-body-menu {
		text-align: right;
	}

	// .offcanvas-body ul li.current-menu-item a {
	// 	color: var(--primary);
	// }

	.offcanvas-body ul li a {
		color: var(--tertiary);
		font-size: 1rem;
		text-wrap: unset;

		&.nav-link {
			font-weight: $font-weight-bold;
		}

		&:hover,
		&:focus {
			text-decoration: underline;
			text-decoration-color: var(--primary);
			text-underline-offset: 5px;
			background-color: transparent;
		}

		&::after {
			content: none;
		}

		@include media-breakpoint-down(sm) {
			font-size: 0.875rem;
		}
	}
}

.has-dropdown-menu > .dropdown-menu {
	border: 0;
	padding: 0;
	background-color: transparent;

	li:last-child {
		margin-bottom: 1.5rem;
	}
}

.offcanvas-body-menu {
	padding: 2.5rem;

	@include media-breakpoint-down(sm) {
		padding: 1.5rem;
	}
}

.offcanvas-header {
	margin-top: 1.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.btn-close-mega {
	background: transparent;
	color: var(--primary);
	box-shadow: none;
	border: none;
	font-size: 0.813rem;

	i {
		color: var(--primary);
		font-size: 0.7rem;
		margin-right: 8px;
	}
}

@include media-breakpoint-down(xl) {
	.dropdown-menu.echo-menu-shortcode .header-menu p {
		font-size: 1.25rem;
		font-weight: $font-weight-bold;
	}
}
